.extra {
  background-image: url("https://i.ibb.co/RyCgkbf/b2.png");
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 900;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (max-width: 800px) {
  .extra {
    height: fit-content;
  }
}
.extra-card {
  background-color: rgb(12, 71, 75);
  align-items: center;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin: 20px;
}
.extra-lap {
  align-items: center;
}
