.guide-card img {
  width: 100%;
  border-radius: 12px 0px 0px 0px;
}
.guide-card {
  border: 1px solid rgb(212, 210, 210);
  border-radius: 15px 0px 0px 0px;
}
.guide-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
.guide-text h4 {
  color: blueviolet;
}
.guide-text h6 {
  color: gray;
}
