.add-service {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 3px #e0dddd;
  width: 30%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: lightyellow;
  /* width: 40%;
  background-color: wheat; */
}
.add-service input,
textarea {
  width: 90%;
}
